button {
  height: 35px;
  width: 60px;
  background-color: #85b6ff;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  cursor: pointer;
  font-weight: 400;
  transition: 0.3s;
}

button:hover {
  opacity: 0.7;
}
