
.body
{
    margin: 45px auto 56px auto;
    width: 300px;
    text-align: center;
}

.p{
    line-height: 2.0;
    /* font-size: x-small; */
}

.main input {
    width: 557px;
    height: 38px;
    border-radius: 6px;
    border: 1.5px solid#bcbcbc;
}

.button {
    margin: auto;
    background-color: white; 
    color: black;
    border: 1px solid#333;
    width: 559px ;
    height: 50px;
    display: flex;
    align-items: center;
}

.picture {
    width: 20px;
    height: 20px;
}

.pic {
    margin: auto;
}

.button01 {
    margin: 60px auto;
    width: 140px;
}

.mataha {
    font-weight: lighter;
    font-family: Arial,  sans-serif;
    text-align: center;
}

.main {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}